// Default medium-gray color
$medium-gray: #cacaca;
// Default global padding
$global-padding: 1rem;
// Global value used for all elements that have a border radius.
$global-radius: 3px;

// Setting the form border color
$form-border-color: $medium-gray;
// Setting the form padding
$form-padding: $global-padding;
// Setting the form border radius
$form-radius: $global-radius;

.log-in-form {
  border: 1px solid $form-border-color;
  padding: $form-padding;
  border-radius: $form-radius;
}
.top-bar{
  background-color: rgb(0, 102, 102);
}

//remember to center
.log-in-form {
  border: 1px solid #cacaca;
  margin-top: 40%;
  border-radius: 3px;
  margin-left: 60%;
}
.side-navigation{
  width: 150px;
  background-color: #006666;
  display: block;

}
.main-section
{
  display: flex;
}
.content-area{
   margin-left: 100px;
   margin-top: 50px;
 }
$include-html-nav-classes: $include-html-classes;

// We use this to control padding.
$side-nav-padding: rem-calc(14 0);

// We use these to control list styles.
$side-nav-list-type: none;
$side-nav-list-position: inside;
$side-nav-list-margin: rem-calc(0 0 7 0);

// We use these to control link styles.
$side-nav-link-color: $primary-color;
$side-nav-link-color-active: scale-color($side-nav-link-color, $lightness: 30%);
$side-nav-link-color-hover: scale-color($side-nav-link-color, $lightness: 30%);
$side-nav-font-size: rem-calc(14);
$side-nav-font-weight: normal;
$side-nav-font-weight-active: $side-nav-font-weight;
$side-nav-font-family: $body-font-family;
$side-nav-font-family-active: $side-nav-font-family;

// We use these to control border styles
$side-nav-divider-size: 1px;
$side-nav-divider-style: solid;
$side-nav-divider-color: scale-color(#fff, $lightness: 10%);


.custom-sidenav-class {
  @include side-nav(
    // Border color of divider
          $divider-color: '#ccc',
            // Font size of nav items
          $font-size:1.2em,
            // Color of navigation links
          $link-color:'#ccc',
            // Color of navigation links on active
          $link-color-active: '#444',
            // Color of navigation links on hover
          $link-color-hover: '#444'
  );
}
//}
//.bg-image{
//    background-image: url("public/images/bg.png");
//    //background-color: #cccccc;
//}