.top-bar{
  background-color: rgb(0, 102, 102);
}

//remember to center
.log-in-form {
  border: 1px solid #cacaca;
  margin-top: 40%;
  border-radius: 3px;
  margin-left: 60%;
}
.side-navigation{
  width: 150px;
  background-color: #006666;
  display: block;

}
.main-section
{
  display: flex;
}


//}
//.bg-image{
//    background-image: url("public/images/bg.png");
//    //background-color: #cccccc;
//}